html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(255, 241, 250);
}

footer {
    margin-top: 5%;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #7d00c1;
    padding: 10px 0;
    color: antiquewhite;
}

a {
    color: #ffffff;
    text-decoration: none;
}


*, *::before, *::after {
    box-sizing: border-box;
}

#turn {
    max-width: 445px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    border: 1px solid black;
    border-style: solid;
    text-align: center;
    padding-top: 5px;
    background: #fff;
    transition: 0.85s linear;
    margin-left: 59px;
}

.turnhighlight {
    background: #5cb85c;
    color: #fff;
}

#game {
    max-height: 504px;
    max-width: 504px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
}

.cellprefix {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    padding: 15px 0 0 20px;
}

.gamecell {
    border: 1px solid #00a4a2;
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin: 3px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding: 0 0 0 4px;
    font-size: 30pt;
    cursor: pointer;
    z-index: 1;
}

.gamecell:hover {
    background: #3eface;
    color: #fff;
}

.grey {
    background-color: grey;
}

.green {
    background: lightgreen;
}

.piece {
    margin-top: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.white {
    background-color: rgb(255, 235, 235);
}

.black {
    background-color: rgb(19, 19, 19);
}

.pawn {
    background-image: url('img/white-pawn.png');
}

.rook {
    background-image: url('img/white-rook.png');
}

.knight {
    background-image: url('img/white-knight.png');
}

.bishop {
    background-image: url('img/white-bishop.png');
}

.queen {
    background-image: url('img/white-queen.png');
}

.king {
    background-image: url('img/white-king.png');
}


.shake-little {
    display: inline-block;
    transform-origin: center center;
}

.shake-freeze, .shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: running;
}

.shake-freeze:hover, 
.shake-trigger:hover, .shake-freeze, .shake-little:hover,
.shake-trigger:hover .shake-little {
    animation-play-state: running;
}

@keyframes shake-little {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
